* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login:hover {
    color: rgb(177, 184, 181);
}

.register:hover {
    background-color: gold;
    font-weight: 600;
}

.btn-toggle {
    display: none;
}

.close-btn {
    display: none;
}


@media only screen and (max-width: 1024px) {
    .nav-list{
        display: none;
    }

    .login {
        display: none;
    }

    .register {
        display: none;
    }

    .btn-toggle {
        display: flex;
        transition: 0.5 ease-in-out ;
    }

    .nav_toogle{
        transform: translateY();
        transition: 0.5 ease-in-out ;
    }

    .toogle_nav {
        transform: translateY();
        transition: 0.5 ease-in-out ;
    }
}